@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a1a; /* Dark background color */
    color: #fff;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    transition: transform 0.3s ease; /* Smooth transition on hover */
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34; /* Dark blue background color */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb; /* Light blue link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth transition on hover */
}

.App-link:hover {
    color: #92d2f7; /* Light blue color on hover */
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
